/* App.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
}

.product-tile:hover .price-container,
.product-tile:hover .price-container p {
    color: white;
}


@media (max-width: 640px) {
  .product-tile {
    margin: 0 auto;
    width: 70%;
  }
}

.product-title {
  text-align: center; 
}
@media (max-width: 640px) {
  .product-title {
    margin-bottom: 10px; 
  }
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  
  position: absolute;
  z-index: 1;
  bottom: 30%; 
  left: 110%;
  animation-delay: 1s;
  font-size: small;
  opacity: 20%;
  transition: opacity 1s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


